.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
    background: rgba(0, 0, 0, 0.9); 
    border-radius: 0; 
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5); 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
}
.main-content {
    margin-top: 70px; 
    padding: 20px; 
}

.navbar-button {
    padding: 10px 20px; 
    background: linear-gradient(135deg, #00FFAB, #ff00cc); 
    color: #1c1c1e; 
    border: none; 
    border-radius: 20px; 
    font-size: 1.1em; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    text-transform: uppercase; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}


.navbar-button:hover { 
    transform: translateY(-2px) scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 255, 171, 0.8);
    background: linear-gradient(135deg, #ff00cc, #00FFAB); 
}


.navbar-button:active {
    transform: translateY(0); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}
